include_defs('//BUCKAROO_DEPS')

cxx_binary(
  name = '{{name}}',
  header_namespace = '{{name}}',
  srcs = glob([
    '{{name}}/src/**/*.cpp',
  ]),
  headers = subdir_glob([
    ('{{name}}/include', '**/*.hpp'),
    ('{{name}}/include', '**/*.h'),
  ]),
  deps = BUCKAROO_DEPS,
)
