cxx_binary(
  name = '{{name}}',
  header_namespace = '{{name}}',
  srcs = glob([
    '**/*.cpp',
  ]),
  headers = subdir_glob([
    ('include', '**/*.hpp'),
  ]),
  deps = [
    {{#dependencies}}
      '//buckaroo/{{project}}/{{version}}:{{project}}',
    {{/dependencies}}
  ],
)
